@charset "UTF-8";
.header {
  background: rgba(41, 44, 47, 0.5);
  color: white;
  width: 100%;
  position: fixed;
}

.header_title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}

@media screen and (max-width: 480px) {
  .header_title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup .popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}

.popup .popup-inner_text {
  text-align: center;
}

.popup .popup-inner img {
  width: 100%;
}

.popup .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.popup .close-btn i {
  font-size: 20px;
  color: #333;
}

.popup .black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

#service .serviceTop {
  background-image: url("../images/horizontal_dumbelle.jpg");
  background-size: cover;
  background-position: 70% 50%;
  color: white;
}

#service .serviceTop_opacity {
  padding-bottom: 10px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, black, rgba(255, 255, 255, 0.1));
}

#service .serviceTop_title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 160px;
  margin-left: 40px;
}

#service .serviceTop_list {
  margin-left: 40px;
  padding-top: 20px;
}

#service .serviceTop_list_item .fa-check {
  padding-right: 10px;
  color: #F9A826;
}

#service .serviceTop .signup_button {
  margin-left: 40px;
}

#service .serviceFunction {
  width: 90%;
  margin: 72px auto 20px;
  text-align: center;
}

#service .serviceFunction_title {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  overflow-wrap: normal;
  margin-bottom: 24px;
}

#service .serviceFunction_text {
  margin-bottom: 40px;
}

#service .serviceFunction_image {
  width: 50%;
}

#service .serviceFooter {
  background-color: #292c2f;
  padding: 72px 0;
}

#service .serviceFooter .signup_button {
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  #service .serviceTop_title {
    margin-left: 20px;
  }
  #service .serviceTop_list {
    margin-left: 20px;
  }
  #service .serviceTop .signup_button {
    margin-left: 20px;
  }
}

#register .registerTop {
  background-image: url("../images/horizontal_dumbelle_man.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

#register .registerTop_opacity {
  padding-bottom: 10px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, black, rgba(255, 255, 255, 0.1));
}

#register .registerTop_title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 160px;
  margin-left: 40px;
}

#register .registerTop_list {
  margin-left: 40px;
  padding-top: 20px;
}

#register .registerTop_list_item .fa-check {
  padding-right: 10px;
  color: #F9A826;
}

#register .registerTop .friend_button {
  margin-left: 40px;
  padding-top: 20px;
}

#register .registerTop .friend_button_image {
  width: 180px;
}

#register .registerFunction {
  width: 90%;
  margin: 72px auto 20px;
  text-align: center;
}

#register .registerFunction_title {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  overflow-wrap: normal;
  margin-bottom: 24px;
}

#register .registerFunction_text {
  margin-bottom: 40px;
}

#register .registerFunction_image {
  width: 50%;
}

#register .registerFunction .friend_button {
  margin: 0 auto;
}

#register .registerFunction .friend_button_image {
  width: 180px;
}

#register .registerFunction .friend_button_text {
  margin: 0 auto;
}

#register .registerFooter {
  background-color: #292c2f;
  padding: 72px 0;
}

#register .registerFooter .signup_button {
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  #register .br-sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #register .registerTop_title {
    margin-left: 20px;
  }
  #register .registerTop_list {
    margin-left: 20px;
  }
  #register .registerTop .signup_button {
    margin-left: 20px;
  }
}

body {
  margin: 0 auto;
  font-family: Public Sans, sans-serif;
}

body .container {
  max-width: 1340px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.signup_button {
  border: 1px solid #F9A826;
  border-radius: 24px;
  padding: 12px 32px;
  background-color: #F9A826;
  color: white;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
}

.today {
  background-color: aqua;
}

.checkIn {
  background-color: greenyellow;
}

#calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section {
  margin: 10px;
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

td:first-child {
  color: red;
}

td:last-child {
  color: royalblue;
}

td.is-disabled {
  color: #ccc;
}

@media screen and (min-width: 960px) {
  /* 960px以上に適用されるCSS（PC用） */
}
/*# sourceMappingURL=base.css.map */