<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitHub</title>
    <script src="https://kit.fontawesome.com/f76f25b302.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/smartphoto@1.1.0/css/smartphoto.min.css">
</head>
<body>
    <header class="header">
    <div class="container">
        <h1 class="header_title"><i class="fa-solid fa-dumbbell"></i>FitHub</h1>
    </div>
    </header>
        {% block content %}{% endblock %}
    <script src="https://unpkg.com/smartphoto@1.1.0/js/smartphoto.min.js"></script>
</body>
</html>
