<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/smartphoto@1.1.0/css/smartphoto.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>
<body>


    <header>
        <h1>FitHub:{{ name }}</h1>
        <a href={{ url_for('show_user_detail', user_id=id)}}>Top Page</a>
        <a href={{ url_for('show_user_detail_year', user_id=id)}}>Annual Record</a>
        <a href={{ url_for('check_in', user_id=id)}}>今日のトレーニングを記録</a>
    </header>

    

    {% block content %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/calender.js') }}"></script>
    <script src="https://unpkg.com/smartphoto@1.1.0/js/smartphoto.min.js"></script>
</body>
</html>
