{% extends 'base.html' %}
{% block content %}
	<div id="register">
		<div class="registerTop">
			<div class="registerTop_opacity">
            	<div class="container">
					<h1 class="registerTop_title">Welcome&nbsp;to&nbsp;<br class="br-sp">FitHub&nbsp;Team!</h1>
					<ul class="registerTop_list">
						<li class="registerTop_list_item"><i class="fa-solid fa-1 fa-num"></i>Add&nbsp;FitHub&nbsp;Offical&nbsp;LINE&nbsp;Account</li>
						<li class="registerTop_list_item"><i class="fa-solid fa-2 fa-num"></i></i>Start&nbsp;Tracking&nbsp;</li>
						<li class="registerTop_list_item"><i class="fa-solid fa-3 fa-num"></i></i>Check&nbsp;Member's&nbsp;logs&nbsp;and&nbsp;Fitness&nbsp;Information</li>
					</ul>
					<div class="friend_button">
						<a class="friend_button_link" href="https://lin.ee/xeIRSz5"><img class="friend_button_image" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"></a>
					</div>
				</div>
        	</div>
		</div>
		<div class="container">
			<div class="registerFunction">
				<div class="registerFunction_container">
					<h2 class="registerFunction_title"><i class="fa-solid fa-circle-1"></i>STEP&nbsp;1<br>Add&nbsp;FitHub<br class="br-sp">&nbsp;Offical&nbsp;LINE&nbsp;Account</h2>
					<p class="registerFunction_text">Our sign up system is super easy.<br>Add FitHub Official LINE account to your friends.Once you become our friends, you are automatically signed up and ready to use FitHub!</p>
					<img class="registerFunction_image" src={{ url_for('static',filename='images/fithub_account_phone.png') }}>
					<div class="friend_button">
						<a class="friend_button_link" href="https://lin.ee/xeIRSz5"><img class="friend_button_image" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"></a>
					</div>
					<p class="friend_button_text"><i class="fa-solid fa-hand-point-up"></i></i>Tap Here!</p>
				</div>
			</div>
			<div class="registerFunction">
				<div class="registerFunction_container">
					<h2 class="registerFunction_title">STEP&nbsp;2<br>Start&nbsp;Tracking<br class="br-sp">Your&nbsp;Fitness&nbsp;Habbit!</h2>
					<p class="registerFunction_text">Ready to work out? You can record your fitness habbits with one tap.</p>
					<img class="registerFunction_image" src={{ url_for('static',filename='images/screenshot01.png') }}>
					<div class="registerFunction_button">
						<a class="registerFunction_button_link" href={{ url_for('register_get')}}>Check&nbsp;Members'&nbsp;Logs</a>
					</div>
				</div>
			</div>
			<div class="registerFunction">
				<div class="registerFunction_container">
					<h2 class="registerFunction_title">STEP&nbsp;3<br>Get&nbsp;Stimulated</h2>
					<p class="registerFunction_text">You can check other Members' fitness logs and our monthly fitness news. Let's get stimulated to move on!</p>
					<img class="registerFunction_image" src={{ url_for('static',filename='images/man_run.svg') }}>
					<div class="registerFunction_button">
						<a class="registerFunction_button_link" href={{ url_for('register_get')}}>Check&nbsp;Members'&nbsp;Logs</a>
					</div>
				</div>
			</div>
    	</div>
	</div>
{% endblock content %}