<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div>
			<label for="name">名前:</label>
			<input type="text" id="username" name="username" placeholder="名前">	
		</div>
		<div>
			<input type="submit" value="送信">
		</div>
	</form>
	<a href="https://lin.ee/xeIRSz5"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
</body>
</html>