{% extends 'base.html' %}
{% block content %}
<div id="service">
    <div class="serviceTop">
        <h1 class="serviceTop_title">Let's Make Healty Habbits Together</h1>
        <ul>
        <li><i class="fa-solid fa-check"></i>Effort Visualization</li>
        <li><i class="fa-solid fa-check"></i>Sustanable Motivation</li>
        <li><i class="fa-solid fa-check"></i>Fitness Information</li>
        <li><i class="fa-solid fa-check"></i>Link with LINE</li>
        </ul>
    </div>
    <div class="serviceFunctionCalender">
        <h1>Visualize your continuous effort</h1>
        <img class="serviceFunctionCalender_img" src={{ url_for('static',filename='images/woman_calender.svg') }}>
    </div>
    <div class="serviceFunctionMotivation">
        <h1>Support your sustanable motivation</h1>
        <img class="serviceFunctionCalender_img" src={{ url_for('static',filename='images/man_run.svg') }}>
    </div>
    <div class="serviceFunctionCalender">
        <h1>Weekly Fitness News</h1>
        <img class="serviceFunctionCalender_img" src={{ url_for('static',filename='images/newsletter.svg') }}>
    </div>
    <div class="serviceFunctionCalender">
        <h1>Link with LINE</h1>
        <img class="serviceFunctionCalender_img" src={{ url_for('static',filename='images/chat.svg') }}>
    </div>
</div>
{% endblock content %}
