{% extends 'base.html' %}
{% block content %}
<div id="service">
    <div class="serviceTop">
        <div class="serviceTop_opacity">
            <div class="container">
                <h1 class="serviceTop_title">Let's&nbsp;Make<br>Healty&nbsp;Habbits<br>Together</h1>
                <ul class="serviceTop_list">
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Effort&nbsp;Visualization</li>
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Sustanable&nbsp;Motivation</li>
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Fitness&nbsp;Information</li>
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Link&nbsp;with&nbsp;your&nbsp;SNS</li>
                </ul>
                <div class="friend_button">
					<a class="friend_button_link" href="https://lin.ee/xeIRSz5"><img class="friend_button_image" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"></a>
				</div>
            </div>
        </div>
    </div>
    <div class="container serviceFunction-container"> 
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h1 class="serviceFunction_title">FitHubに参加しよう！</h1>
                <p class="serviceFunction_text">FitHubは全て操作をあなたのLINEアカウントで行うことができます。友達追加をしてFitHubを始めよう！</p>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/fithub_account.jpeg') }}>
                <div class="friend_button">
					<a class="friend_button_link" href="https://lin.ee/xeIRSz5"><img class="friend_button_image" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"></a>
				</div>
            </div>
        </div>
        <h1 class="service_heading">FitHubでできること</h1>
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">あなたの習慣を可視化します。</h2>
                <p class="serviceFunction_text">FitHubに参加してあなたの習慣を可視化しよう！FitHubではあなたのトレーニングを簡単に記録することができます。</p>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/calender_phone.png') }}>
            </div>
        </div>
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">モチベーションをサポート</h2>
                <p class="serviceFunction_text">FitHubはあなたの持続可能なモチベーションをサポートします。一緒に健康的な習慣継続を目指しましょう！</p>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/checkin_popup.png') }}>
            </div>
        </div>
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">LINEと連携</h2>
                <p class="serviceFunction_text">FitHubは全てLINEで完結！LINEから自分のトレーニング習慣を管理することができます！</p>
                <div class="serviceFunction_imageBlock">
                    <img class="serviceFunction_imageBlock_image" src={{ url_for('static',filename='images/fithub_account_phone.png')}}>
                    <img class="serviceFunction_imageBlock_image" src={{ url_for('static',filename='images/screenshot01.png')}}>
                </div>
                <div class="friend_button">
			        <a class="friend_button_link" href="https://lin.ee/xeIRSz5"><img class="friend_button_image" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"></a>
		        </div>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}
