{% extends 'base.html' %}
{% block content %}
<div id="service">
    <div class="serviceTop">
        <div class="serviceTop_opacity">
            <div class="container">
                <h1 class="serviceTop_title">Let's&nbsp;Make<br>Healty&nbsp;Habbits<br>Together</h1>
                <ul class="serviceTop_list">
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Effort&nbsp;Visualization</li>
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Sustanable&nbsp;Motivation</li>
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Fitness&nbsp;Information</li>
                    <li class="serviceTop_list_item"><i class="fa-solid fa-check"></i>Link&nbsp;with&nbs;your&nbsp;SNS</li>
                </ul>
                <a class="signup_button" href={{ url_for('register_get')}}>SIGN UP</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">Visualize&nbsp;your&nbsp;effort</h1>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/woman_calender.svg') }}>
            </div>
            </div>
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">Support&nbsp;your&nbsp;motivation</h2>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/man_run.svg') }}>
            </div>
        </div>
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">Weekly&nbsp;Fitness&nbsp;News</h2>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/newsletter.svg') }}>
            </div>
        </div>
        <div class="serviceFunction">
            <div class="serviceFunction_container">
                <h2 class="serviceFunction_title">Link&nbsp;with&nbsp;your&nbsp;LINE</h2>
                <img class="serviceFunction_image" src={{ url_for('static',filename='images/chat.svg') }}>
            </div> 
        </div>
    </div>
    <footer class="serviceFooter">
        <a class="signup_button" href={{ url_for('register_get')}}>SIGN UP</a>
    </footer>
</div>
{% endblock content %}
