<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<input type="text" id="btn">

<body>
    <script>
        var referrer = document.referrer;
        let btn = document.getElementById('btn');
        btn.addEventListener('click', function() {
            alert(referrer);
        });
        document.write("リファラー：" + referrer);
    </script>
</body>

</html>