{% extends 'base.html' %}
{% block content %}
<div class="popup" id="js-popup">
    <div class="popup-inner">
        <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
            <a href="#"><img src={{ url_for('static',filename='images/woman_yoga.svg') }} alt="ポップアップ画像" height="140px" width="100%"></a>
        </div>
    <div class="black-background" id="js-black-bg"></div>
</div>
    <h2>Top Page:{{ name }}</h2>
    <a href={{ url_for('check_in', user_id=id)}}>今日のトレーニングを記録</a>
    <div id="calendar"></div>
    <script>
        var date_list = {{date_list|tojson}};
        var yearCalender = false;
    </script>
{% endblock content %}
