{% extends 'base.html' %}
{% block content %}
<div id="user_detail">
    <div class="popup" id="js-popup">
        <div class="popup-inner">
            <div class="close-btn" id="js-close-btn">
                <i class="fas fa-times"></i>
            </div>
                <p class="popup-inner_text">本日のトレーニングを記録しました!</p>
                <img class="popup-inner_img" src={{ url_for('static',filename='images/woman_yoga.svg') }} alt="ポップアップ画像" height="140px" width="100%">
                <p class="popup-inner_text">LINEで友達に報告しますか？</p>
                <div class="popup-inner_buttons">
                    <a class="popup-inner_button" href={{ url_for('send_message', user_id=id)}}>はい</a>
                    <a class="popup-inner_button popup-inner_button-no" href={{ url_for('show_user_detail', user_id=id)}}>いいえ</a>
                </div>
        </div>
        <div class="black-background" id="js-black-bg"></div>
    </div>
    <div class="user_detail">
        <div class="container user_detail_container">
            <h2 class="user_detail_username">{{ name }}さん</h2>
            <div id="calendar"></div>
            <div class="user_detail_menu">
                <a class="user_detail_menu_block to-year" href={{ url_for('show_user_detail_year', user_id=id,  hash_line_id=hash_line_id)}}>
                    <span class="user_detail_menu_block_text">年間の記録</span>
                    <img class="user_detail_menu_block_image" src={{ url_for('static',filename='images/man_run.svg') }}>
                </a>
                <a class="user_detail_menu_block all-user">
                    <span class="user_detail_menu_block_text">友達の記録</span>
                    <img class="user_detail_menu_block_image" src={{ url_for('static',filename='images/friend_log.svg') }}>
                </a>
                <span class="alert">*現在ご利用になれません。アップデートをお待ちください。</span>
                <a class="user_detail_menu_block qrcode" href={{ url_for('qrcode', user_id=id, hash_line_id=hash_line_id)}}>
                    <span class="user_detail_menu_block_text">チェックインQRコード作成</span>
                    <img class="user_detail_menu_block_image" src={{ url_for('static',filename='images/download.svg') }}>
                </a>
            </div>
            </ul>
        </div>
    </div>
</div>

    <script>
        var date_list = {{date_list|tojson}};
        var yearCalender = false;
        var checkIn = {{is_first|tojson}};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/checkInAnimation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calender.js') }}"></script>
{% endblock content %}
