{% extends 'base.html' %}
{% block content %}
<div class="popup" id="js-popup">
    <div class="popup-inner">
        <div class="close-btn" id="js-close-btn">
            <i class="fas fa-times"></i>
        </div>
            <p class="popup-inner_text">本日のトレーニングを記録しました!</p>
            <img class="popup-inner_img" src={{ url_for('static',filename='images/woman_yoga.svg') }} alt="ポップアップ画像" height="140px" width="100%">
            <p class="popup-inner_text">LINEで友達に報告しますか？</p>
            <a href={{ url_for('send_message', user_id=id)}}>はい</a>
            <a href={{ url_for('show_user_detail', user_id=id)}}>いいえ</a>
    </div>
    <div class="black-background" id="js-black-bg"></div>
</div>
    <h2>今月の記録:{{ name }}</h2>
    <a href={{ url_for('show_user_detail_year', user_id=id)}}>年間の記録</a>
    <a href={{ url_for('show_all_user')}}>友達の記録</a>
    <a href={{ url_for('check_in', user_id=id)}}>今日のトレーニングを記録</a>
    <a href={{ url_for('create_qrcode', user_id=id)}}>チェックインQRコードを作成する</a>
    <div id="calendar"></div>
    <script>
        var date_list = {{date_list|tojson}};
        var yearCalender = false;
        var checkIn = {{is_first|tojson}};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/checkInAnimation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calender.js') }}"></script>
{% endblock content %}
