@mixin calender {
    // padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    h3 {
        @include remove_heading_margin;
        text-align: center;
        background-color: $gray;
        color: $white;
        padding: 10px;
    }
    section {
        border-radius: 10px;
        // border: 1px solid $lightGray;
        margin: 10 auto;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        table {
            width: 100%;
            border-spacing: 0;
            border-radius: 10px;
            // border-collapse: collapse;
            tbody {
                border-radius: 10px;
                border: 2px solid $lightGray;
                // box-shadow: 0 .1em 1em 0 rgba($black, .25), 0 .1em .5em 1px rgba($black, .35), 0 1em 2em 1px rgba($black, .15);
                tr:first-child {
                    background-color: $gray;
                    color: $white;
                    border-radius: 10px;
                    // box-shadow: 0 .1em 1em 0 rgba($black, .25), 0 .1em .5em 1px rgba($black, .35), 0 1em 2em 1px rgba($black, .15);
                    td {
                        background-color: $gray;
                        font-size: .75em;
                        text-transform: uppercase;
                        padding: 8px;
                        text-align: center;
                        &:first-child {
                            color: red;
                        }
                        &:last-child {
                            color: royalblue;
                        }
                        &.is-disabled {
                            color: $lightGray;
                        }
                    }
                }
                tr {
                    td {
                        background-color: $calenderGray;
                        padding: 10px;
                        font-size: 1em;
                        font-weight: bold;
                        text-align: center;
                        &:first-child {
                            color: red;
                        }
                        &:last-child {
                            color: royalblue;
                        }
                        &.is-disabled {
                            color: #ccc;
                            font-size: .75em;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    .today {
        text-decoration: underline;
        border-width: 5px;
    }
    .checkIn {
        .stamp {
            padding: 10px;
            margin: 0 auto;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            text-decoration: underline;
            border-width: 5px;
            @include calender_stamp;
            background-color: $orange;
        }
    }
}