@mixin calender {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    section {
        margin: 10 auto;
        width: 100%;
        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            tbody {
                border-radius: 5px;
                box-shadow: 0 .1em 1em 0 rgba($black, .25), 0 .1em .5em 1px rgba($black, .35), 0 1em 2em 1px rgba($black, .15);
                tr:first-child {
                    background-color: $gray;
                    color: $white;
                    border-radius: 5px;
                    box-shadow: 0 .1em 1em 0 rgba($black, .25), 0 .1em .5em 1px rgba($black, .35), 0 1em 2em 1px rgba($black, .15);
                    td {
                        font-size: .75em;
                        text-transform: uppercase;
                        padding: 10px;
                        text-align: center;
                        &:first-child {
                            color: red;
                        }
                        &:last-child {
                            color: royalblue;
                        }
                        &.is-disabled {
                            color: #ccc;
                        }
                    }
                }
                tr {
                    td {
                        padding: 10px;
                        font-size: 1em;
                        font-weight: bold;
                        text-align: center;
                        &:first-child {
                            color: red;
                        }
                        &:last-child {
                            color: royalblue;
                        }
                        &.is-disabled {
                            color: #ccc;
                            font-size: .75em;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    .today {
        .stamp {
            padding: 10px;
            margin: 0 auto;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            background-color: $lineGreen;
        }
    }
    .checkIn {
        .stamp {
            padding: 10px;
            margin: 0 auto;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            background-color: $orange;
        }
    }
}