.header {
    background: rgba($color: $gray, $alpha: 0.5);
    color: $white;
    width: 100%;
    position: fixed;
    &_title {
        @include remove_heading_margin;
        margin-left: 40px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        &_title {
            @include remove_heading_margin;
            margin-left: 20px;
        }
    }
}