@mixin remove_heading_margin {
    margin-top: 0;
    margin-bottom: 0;
}

@mixin alert {
    font-size: 5px;
}

@mixin signup_button {
    border: 1px solid $orange;
    border-radius: 24px;
    padding: 12px 32px;
    background-color: $orange;
    color: $white;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
}

@mixin friend_button_image {
    &_image {
        width: 180px;
    }
}

@mixin icon {
    padding-right: 10px;
    color: $orange;
}

@mixin calender_stamp {
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}