@mixin remove_heading_margin {
    margin-top: 0;
    margin-bottom: 0;
}

@mixin signup_button {
    border: 1px solid $orange;
    border-radius: 24px;
    padding: 12px 32px;
    background-color: $orange;
    color: $white;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
}

@mixin friend_button_image {
    &_image {
        width: 180px;
    }
}