@media screen and (min-width: 960px) {}

#service {
    .serviceTop {
        background-image: url("../images/horizontal_dumbelle.jpg");
        background-size: cover;
        background-position: 70% 50%;
        color: $white;
        &_opacity {
            padding-bottom: 10px;
            height: 100%;
            background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1));
        }
        &_title {
            @include remove_heading_margin;
            padding-top: 160px;
            margin-left: 40px;
        }
        &_list {
            margin-left: 40px;
            padding-top: 20px;
            &_item {
                .fa-check {
                    @include icon;
                }
            }
        }
        .friend_button_image {
            width: 140px;
            margin: 20px 0 0 20px;
        }
        .signup_button {
            margin-left: 40px;
        }
    }
    .service_heading {
        margin: 60px 0 10px 0;
        text-align: center;
        color: $gray;
    }
    .serviceFunction-container {
        background-color: $calenderGray;
        padding: 40px 0 40px 0;
    }
    .serviceFunction {
        background-color: $white;
        border-radius: 20px;
        padding: 40px 10px;
        color: $gray;
        width: 90%;
        margin: 0px auto 40px;
        text-align: center;
        &_title {
            color: $black;
            @include remove_heading_margin;
            width: 100%;
            overflow-wrap: normal;
            margin-bottom: 24px;
        }
        &_text {
            margin-bottom: 40px;
        }
        &_image {
            width: 50%;
        }
        &_imageBlock {
            margin: 0 auto 40px auto;
            display: flex;
            width: 80%;
            &_image {
                width: 50%;
            }
        }
    }
    .serviceFooter {
        background-color: $gray;
        padding: 72px 0;
        .signup_button {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 480px) {
    #service {
        .serviceTop {
            &_title {
                margin-left: 20px;
            }
            &_list {
                margin-left: 20px;
            }
            .signup_button {
                margin-left: 20px;
            }
        }
    }
}